.sidebarItem {
  background-color: black;
  background-image: linear-gradient(to right, black 50%, #00d9ff9c 50%);
  background-size: 200% 100%;
  -webkit-transition: background-position 500ms;
  -moz-transition: background-position 500ms;
  transition: background-position 500ms;
}

.sidebarItem:hover {
  background-position: -100% 0;
}
