#textImgBg {
  background-image: url("../../../public/galaxy-background.jpg");
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 200%;
  background-position: center;
}

#textImgBgAnimatedParent {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  background-image: url("../../../public/galaxy-background.jpg");
  filter: blur(20px);
  background-size: cover;
}

#textImgBgAnimated {
  background-image: url("../../../public/galaxy-background.jpg");
  background-size: 100%;
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 5;
  filter: drop-shadow(0 0 5px black)
}
